<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] - [%-5level] - [%logger{36}] - %msg%n"/>
        </Console>
        <RollingFile name="File" fileName="${catalina.base}/logs/test.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH-mm}-%i.log"><!--файл ротируется раз в минуту-->
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%-5level] - [%logger{36}] - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--При каждой загрузке новый файл-->
                <SizeBasedTriggeringPolicy size="100 MB" /><!--Максимальный размер файла-->
                <TimeBasedTriggeringPolicy interval="2" modulate="true"/><!--каждые 2 мин (смотрит filePattern) новый файл-->
            </Policies>
            <DefaultRolloverStrategy max="5"/> <!--Сколько файлов ротирует -->

        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Root level="error">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Root level="warn">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Root level="trace">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>