table{
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
    width:100%;
}
tr, td, th{
    border: 1px solid black;
    text-align: center;
}
.pages{
    text-align: center;
    margin: 20px auto;

}
.pages div{
    float: left;
    display: inline-block;
    width: 100px;
}

